version: "3.8"

services:
  server:
    build:
      dockerfile: Dockerfile
      context: server/
    depends_on:
      - postgres
    ports:
      - 8080:8080
    environment:
      NODE_ENV: <development | production>
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: <postgres_user>
      DB_PASSWORD: <postgres_password>
      DB_DATABASE: <plantoplay>
      ACCESS_TOKEN_SECRET: <generate a long secret>

  client:
    build:
      dockerfile: Dockerfile
      context: client/
    ports:
      - 3000:3000

  postgres:
    image: postgres:alpine
    environment:
      POSTGRES_USER: <postgres_user>
      POSTGRES_PASSWORD: <postgres_password>
      POSTGRES_DB: <plantoplay>
