version: "3.8"

services:
  server:
    build:
      dockerfile: Dockerfile
      context: server/
    depends_on:
      - postgres
    ports:
      - 8080:8080
    environment:
      NODE_ENV:
      DB_HOST:
      DB_PORT: 5432
      DB_USER:
      DB_PASSWORD:
      DB_DATABASE:
      ACCESS_TOKEN_SECRET:

  client:
    build:
      dockerfile: Dockerfile
      context: client/
    ports:
      - 3000:3000

  postgres:
    image: postgres:alpine
    environment:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
      POSTGRES_DB:
